@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Open+Sans:wght@300;400&display=swap');

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Alegreya', serif; /*font-family: 'Open Sans', sans-serif;*/
    color: rgb(0, 0, 0);
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

body{
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

.imagenIndice{
  padding-left: 10vw;
}

nav ul{
  text-align: center;
  list-style-type: none;
  padding-left: 10vw;
}

nav li a{
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding-right: 5vw;
}

.paginaActual{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding-right: 5vw;
  text-decoration: underline;
}

nav li a:hover{
  color: rgb(189, 55, 0);
}

.utopia{
  color: rgb(255, 255, 255);
  background-color: black; 
  width: 100%;
  height: 40vh; 
} 

.utopiaImagen{
  background-image: url(../img/bg-hero-mars.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40vw 40vh;
  width: 100%;
  height: 40vh;
  text-align: left;
}

.utopiaImagen h1{
  font-size: 3rem;
  padding-left: 10vw;
  padding-top: 5vw;
}

.utopiaImagen p{
  font-size: 2rem;
  padding-left: 10vw;
  font-style: italic;
}

h2{
  font-size: 2rem;
  text-align: left;
  padding-left: 5vw;
}

.subtitulo{
  font-size: 1.8rem;
  text-align: left;
  padding-left: 5vw;
}

.mision figure{
  margin: 0;
}

.mision img{
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.mision p{
  text-align: left;
  padding-left: 5vw;
  font-size: 1.8rem;
}

.mision p:first-of-type{
  font-size: 2rem;
}

.mision a{
  color: rgb(189, 55, 0);
  text-decoration: none;
  font-weight: bold;
}

.mision a:hover{
  color: rgb(0, 0, 0);
}

.imagenFooter{
  background-image: url(../img/logo-white-es.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 10vh;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 5vw;
}

footer{
  background-color: black;
  color: white;
  font-family:'Open Sans', sans-serif;
}

footer p{
  font-size: 1.5rem;
  margin-top: .6vh;
}

#formularioNewsletter{
  padding-top: 4vh;
}

#formularioNewsletter legend{
  font-size: 1.8rem;
}

#correo{
  width: 90vw;
  text-align: center;
  border: none;
  color: grey;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 1.4rem;
}

#politicaPrivacidad{
  padding-top: 1.5vh;
}

#politicaPrivacidad label{
  font-size: 1.5rem;
}

#submit{
  margin-top: 2vh;
  padding: 6px;
  font-weight: bold;
}

#submit:hover{
  color: rgb(189, 55, 0);
}

footer ul{
  text-align: center;
  list-style-type: none;
  padding-top: 1vh;
  font-size: 1.4rem;
}

footer li{
  display: inline;
  padding: .8vw;
}

footer li a{
  text-decoration: none;
  color: rgb(255,255,255);
}

footer li a:hover{
color: rgb(189, 55, 0);
}

.creditos p{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.creditos p:first-child{
  padding-bottom: 1rem;
}

#politicaPrivacidad a{
  text-decoration: none;
  color: white;
}

#politicaPrivacidad a:hover{
  color: rgb(189, 55, 0);
}

.cursiva{
  font-style: italic;
}

/*Mars 2020*/

.exploracion{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.exploracion h1{
  font-size: 4rem;
  text-align: left;
  margin-bottom: 0;
}

.exploracion p{
  font-size: 1.6rem;
  text-align: left;
}

.exploracion h2{
  font-size: 3rem;
  padding-left: 0;
}

.objetivos{
  text-align: left;
  font-size: 1.6rem;
  padding-left: 3rem;
}

figure{
  margin: 0;
}

.video-fluid {
  position: relative;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
}

iframe.video-fluid-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-fluid::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

figcaption {
  font-size: 1rem;
  padding-top: 1.5rem;
  text-align: center;
}

aside{
  text-align: left;
}

aside ul{
  list-style-type: none;
  padding-top: 2rem;
  padding-left: 5vw;
  font-size: 1.4rem;
}

aside li:first-of-type{
  padding-top: 1rem;
}

aside li:last-of-type{
  font-weight: bold;
}

aside a{
  color: rgb(189, 55, 0);
  text-decoration: none;
}

aside a:hover{
  color: rgb(0, 0, 0);
}

/*Ciencia Ficcion*/

.cienciaficcion{
  width: 90vw;  
  margin-left: auto;
  margin-right: auto;
}

.cienciaficcion h1{
  text-align: left;
  font-size: 3rem;
  padding-top: 2vh;
  margin-bottom: 0;
}

.cienciaficcion h2{
  text-align: left;
  font-size: 3rem;
  padding-left: 1rem;
  margin-top: 2vh;
}

.cienciaficcion figure img{
  width: 90vw;
  height: auto;
}

.containerCF{
  padding-bottom: 5vh;
}

.elementoCF{
  background-color:rgba(0, 0, 0, 0.1);
}

blockquote{
  margin-left: 1rem;
}

blockquote p{
  text-align: left;
  font-size: 1.4rem;
  font-style: italic;
}

cite{
  font-weight: bold;
  font-size: 2rem;
}

cite::before{
  display: inline-block;
    content: "";
    border-bottom: .5rem solid red;
    width: 3rem;
    margin-right: .2rem;
}

@media screen and (min-width: 800px) {
  header{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .imagenIndice{
    text-align: left;
  }

  nav ul{
    text-align: left;
  }

  nav li{
    display: inline;
  }

  .utopiaImagen h1{
    font-size: 5rem;
    padding-top: 1vw;
  }
  
  .utopiaImagen p{
    font-size: 2rem;
  }
  
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    gap: 0;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  h2{
    padding-left: 10vw;
  }
  
  .subtitulo{
    padding-left: 10vw;
  }

  .mision p{
    text-align: left;
    padding-left: 1rem;
  }

  .mision img{
    max-width: 100%;
  }

  .mision:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.1);
  }

  .creditos p{
    display: inline;
  }

  .creditos p:first-child{
    display: block;
  }

  /*Mars 2020*/

  .bodyExploracion{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .bodyExploracion article p{
    text-align: justify;
  }

  .bodyExploracion header {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  
  .bodyExploracion main {
    grid-column: 2;
    grid-row: 2;
    width: 65vw;
    margin-left: 0;
    margin-right: 0;
  }
  
  .bodyExploracion aside {
    grid-column: 1;
    grid-row: 2;
  }

  aside ul{
    padding-top: 4rem;
    padding-left: 10vw;
  }
  
  .bodyExploracion footer {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .video-fluid {
    width: 100%;
  }

  .exploracion figure{
    padding-bottom: 4rem;
  }

  /*Ciencia Ficcion*/

  .containerCF{
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }

  .cienciaficcion h1{
    padding-left: 5vw;
    padding-bottom: 5rem;
  }

  .elementoCF{
    display: flex;
    background-color: initial;
    padding-bottom: 5rem;
  }

  .elementoCF div, .elementoCF figure{
    text-align: left;
    margin-right: 3vw;
  }

  .tituloCF{
    width: 15vw;
    height: 13vw;
    min-height: 155px;
    min-width: 155px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .tituloCF h2{
    line-height: 4rem;
  }

  .cienciaficcion figure{
    width: 13vw;
  }

  .cienciaficcion figure img{
    width: 13vw;
    height: auto;
    min-height: 155px;
    min-width: 155px;
  }

  .citaCF{
    height: 13vw;
    min-height: 155px;
    min-width: 470px;
    width: 45vw;
    background-color: rgba(0, 0, 0, 0.1);
  }
} 